<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="carrito.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pabu! Cacharreria, ropa y mas</title>
    </head>
<body>
    <header>
        <nav class="nav">
            <div class="nav__container">
                <h3 class="nav__title">Pabu! Cacharreria, ropa y más</h3>
                <a href="#menu" class="nav__menu">
                    <img src="../img/SolarMenuDotsSquareBold.png" alt="" class="nav__icon">
                </a>
                <a href="#" class="nav__menu nav__menu--second">
                    <img src="../img/JamCloseRectangleF.png" alt="" class="nav__icon">
                </a>

                <ul class="dropdown" id="menu">
                    <li class="dropdown__list">
                        <a href="/principal" class="dropdown__link">
                            <img src="img/MaterialSymbolsHome.png" class="nav__icon">
                            <span class="dropdown__span">Inicio</span>
                        </a>
                    </li>
    
                    <li class="dropdown__list">
                        <a href="/carrito" class="dropdown__link">
                            <img src="img/MaterialSymbolsShoppingCart.png" class="nav__icon">
                            <span class="dropdown__span">Carrito</span>
                        </a>
                    </li>
    
                    <li class="dropdown__list">
                        <a href="/profile" class="dropdown__link">
                            <img src="img/PajamasProfile.png" class="nav__icon">
                            <span class="dropdown__span">Perfil</span>
                        </a>
                    </li>
    
                    <li class="dropdown__list">
                        <a href="/SobreNosotros/sobreNosotros.html" class="dropdown__link">
                            <img src="img/HealthiconsContactSupport.png" class="nav__icon">
                            <span class="dropdown__span">Sobre nosotros</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="grid">
            <div class="divCarrito">
                <img src="../img/carrito/AntDesignShoppingCartOutlined (1).png" alt="">
                <p class="acumuladoItem">3</p>
            </div>
            <div class="cajaItems">
                <p>Productos a reservar en el carrito: </p>
                <div class="items">
                    <img src="../img/productos/Camiseta-de-manga-corta-con-estampado-3D-para-hombre-conjunto-de-2-piezas-de-pantalones-cortos.jpg" alt="" class="imgProducto">
                    <p class="nombreProducto">Conjunto Nike</p>
                    <p class="precioProducto">$20.000</p>
                </div>
                
                <div class="items">
                    <img src="../img/productos/envio-gratis-anillos-mujer-50-100-unids-lote-de-anillos-Retro-de-Hip-Hop-para-hombres.jpg" alt="" class="imgProducto">
                    <p class="nombreProducto">Anillos de acero</p>
                    <p class="precioProducto">$12.999</p>
                </div>
                <div class="items">
                    <img src="../img/productos/Modelo-de-coche-de-polic-a-de-aleaci-n-fundido-a-presi-n-Challenger-2-puertas.jpg_640x640.jpg" alt="" class="imgProducto">
                    <p class="nombreProducto">Coche de policia de juguete</p>
                    <p class="precioProducto">$32.999</p>
                </div>
            </div>
            
            <div class="divReservar">
                <p>Cantidad de productos: 3</p>
                <p>Descuento: $0</p>
                <p>Precio total a reservar: $65.998</p>
                <button>Reservar</button>
            </div>

            <p class="otrosProText">Otros productos que te pueden interesar:</p>
            <div class="otrosProductos">
                <div class="items">
                    <img src="../img/productos/Camiseta-de-manga-corta-con-estampado-3D-para-hombre-conjunto-de-2-piezas-de-pantalones-cortos.jpg" alt="" class="imgProducto">
                    <p class="nombreProducto">Conjunto Nike</p>
                    <p class="precioProducto">$20.000</p>
                </div>
                
                <div class="items">
                    <img src="../img/productos/envio-gratis-anillos-mujer-50-100-unids-lote-de-anillos-Retro-de-Hip-Hop-para-hombres.jpg" alt="" class="imgProducto">
                    <p class="nombreProducto">Anillos de acero</p>
                    <p class="precioProducto">$12.999</p>
                </div>
                <div class="items">
                    <img src="../img/productos/Modelo-de-coche-de-polic-a-de-aleaci-n-fundido-a-presi-n-Challenger-2-puertas.jpg_640x640.jpg" alt="" class="imgProducto">
                    <p class="nombreProducto">Coche de policia de juguete</p>
                    <p class="precioProducto">$32.999</p>
                </div>
            </div>

        </div>
    </main>
</body>
</html>